/* /styles/landing.css */
.landing {
    margin-top: 50px;
    padding: 10px;
}

.message-container {
    margin-top: 20px;
}

.message {
    margin-bottom: 20px;
}

.ai-example {
    border-radius: 5px;
    padding: 20px;
    margin-top: 8px;
    background: #5f285f;
    background: -webkit-linear-gradient(to right, #2c122a, #fca3ed);
    background: linear-gradient(to right, #2b1129, #f588e3);
    color: white;
    box-shadow: 0 4px 8px rgba(20, 19, 19, 0.1);
}
.quiz{
    padding: 26px;
    background: #5f285f;
    background: -webkit-linear-gradient(to right, #2c122a, #fca3ed);
    background: linear-gradient(to right, #2b1129, #f588e3);
    color: white;
    box-shadow: 0 4px 8px rgba(20, 19, 19, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.code-block {
    border-radius: 5px;
    padding: 10px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    /* Ensure the code wraps */
}

/* Add this CSS to your stylesheet */
.code-block pre {
    background: black !important;
    color: white !important;
}

/* Ensure syntax highlighting colors are applied */
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
    color: #f92672;
}

.hljs-comment,
.hljs-quote {
    color: #75715e;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
    color: #a6e22e;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #ae81ff;
}

.hljs-attribute {
    color: #f8c555;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #e6db74;
}

.hljs-title,
.hljs-section {
    color: #66d9ef;
}

.hljs-keyword,
.hljs-selector-tag {
    font-weight: bold;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: #2d2d2d;
    color: #f8f8f2;
    padding: 0.5em;
}
.importance-ai {
    margin-top: 20px;
    padding:20px;
    background: #a161a1;
    background: -webkit-linear-gradient(to right, #2c122a, #fca3ed);
    background: linear-gradient(to right, #2b1129, #f588e3);
    color: white;
    box-shadow: 0 4px 8px rgba(20, 19, 19, 0.1);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .code-block {
    margin-top: 10px;
  }
  /* Add this to landing.css */

.popular-courses {
    padding: 20px 0;
}

.course-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
