/* src/styles/whyus.css */
.why-us-container {
  color: white;
  width: 95%;
  margin: auto;
  padding: 15px;
}

.why-us-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.reasons-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reason-card {
  padding: 26px;
  margin-top: 20px;
  background: #5f285f;
  background: -webkit-linear-gradient(to right, #2c122a, #fca3ed);
  background: linear-gradient(to right, #2b1129, #f588e3);
  color: white;
  box-shadow: 0 4px 8px rgba(20, 19, 19, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 100%;
  /* max-width: 300px; */
  min-height: 140px;
  text-align: left; 
}

.reason-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.reason-card p {
  font-size: 0.9rem;
}
