.custom-navbar-bg {
  background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #000000);
  background: linear-gradient(to right, #000000, #000000);
  color: white !important;
  box-shadow: 0 4px 8px rgba(20, 19, 19, 0.1);

}

.footer{
  color: #888 !important;
  font-size: 0.9rem;
}
.footer h5{
  font-size: 1.25rem;
}
.footer ul li{
  font-size: 0.9rem;
}
.footer p{
  font-size: 0.9rem;

}
p{
  font-size: 0.9rem;
}
h2{
  font-size: 1.2rem;
}
.slanted-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #5f285f;
  background: -webkit-linear-gradient(to right, #2c122a, #f588e3);
  background: linear-gradient(to right, #2b1129, #f588e3);
  text-decoration: none;
  color: white !important;
  overflow: hidden;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  transition: clip-path 0.3s ease;
}

.slanted-button:hover {
  text-decoration: none;
  background: #160a16;
  background: -webkit-linear-gradient(to right, #2c122a, #f588e3);
  background: linear-gradient(to right, #2b1129, #f588e3);
  color: #fff;
  text-decoration: none;

}
/* Override Bootstrap btn and btn-primary styles */
.btn,
.btn-primary:active {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #1F1C2C, #525c74);
  background: linear-gradient(to right, #1F1C2C, #545f78);
  color: white; /* Ensure the text color is white */
  transition: 0.3s ease; /* Smooth background transition */
  outline: #606c88 !important; /* Remove the default outline */
}

.btn:hover,
.btn-primary:hover {
  background: #525c74;
  background: -webkit-linear-gradient(to right, #1F1C2C, #3f4858);
  background: linear-gradient(to right, #1F1C2C, #3f4858);
}

.btn:focus,
.btn-primary:focus {
  outline: #606c88 !important; /* Ensure no outline on focus */
  box-shadow: #606c88 !important; /* Remove any default box-shadow on focus */
}

body {
  background: #000000;
  background: -webkit-linear-gradient(to right, #131212c9, #1a1919);
  background: linear-gradient(to right, #000000, #000000);
}


.landing {
  height: auto;
}

.landing .column {
  padding: 20px;
}

.message-container {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
}

.message {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2.0rem;
  border-radius: 5px;
  padding: 26px;
  background: #5f285f;
  background: -webkit-linear-gradient(to right, #2c122a, #fca3ed);
  background: linear-gradient(to right, #2b1129, #f588e3);
  color: white;
  box-shadow: 0 4px 8px rgba(20, 19, 19, 0.1);
  transform: translateY(100%) scale(0.8);
  animation: cardAnimation 20s linear infinite;
}

.message p {
  font-size: 0.9rem;
}

.message:nth-child(1) {
  animation-delay: 0s;
}

.message:nth-child(2) {
  animation-delay: 5s;
}

.message:nth-child(3) {
  animation-delay: 10s;
}

.message:nth-child(4) {
  animation-delay: 15s;
}

@keyframes cardAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.8);
  }

  5%,
  25% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  30%,
  100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.8);
  }
}
